* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
  display: flex; /*これの有無で画像サイズが変わる意味が分からない*/
}

.header-contant{
  display: flex;
  justify-content: space-between;
  width: 1024px;
  margin: 0 auto;
}

.nav-list{
  display: flex;
}

.nav-item{
  color: #FAFAFA;
  font-size: 16px;
  margin: 0 30px;
  list-style: none;
  display: inline-block;
  line-height: 70px;
 }

.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-title{
  color: #FAFAFA;
  font-size: 64px;
  text-align: center;
  padding-top: 200px;

}

.main-visual-text{
  color: #FAFAFA;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.portfolio{
  width:100%;
  background-color: #ECEFF1;
}

.portfolio-contant{
  width:920px;
  margin: 0 auto;
}

.heading-title{
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
}

.line{
  border: 3px solid #EC715F;
  width: 70px;
  margin: auto;
}

.heading-text{
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 30px 0;
}

.top-contant{
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.bottom-contant{
  display: flex;
  padding-bottom: 90px;
  justify-content: center;
}

.portfolio-img{
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.portfolio-img:last-child{
  margin-right: 0;
}

.feature{
  width:100%;
}

.feature-contant{
  width:980px;
  margin: 0 auto;
}

.stength-group{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.stength-group-item{
  width: 320px;
  height: auto;
  color: #000000;
  margin-right: 10px;
}

.stength-group-item i{
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.stength-group-item h1{
  font-size: 20px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.stength-group-item p{
  font-size: 16px;
}

.profile{
  width:100%;
  background-color: #ECEFF1;
}

.profile-contant{
  width:1024px;
  margin: 0 auto;
}

.profile-group{
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}

.profile-img{
  width: 250px;
  height: 250px;
  border-radius:50%;
  background-image: url("img/my-icon.jpg");
}

.profile-left-contant{
  width: 512px;
  text-align: center;
}

.profile-right-contant{
  width: 512px;
  color: #000000;
}

.profile-right-contant h1{
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-right-contant p{
  font-size: 16px;
  margin-bottom: 20px;
}

.profile-right-contant p:last-child{
  font-size: 16px;
  margin-bottom: 0;
}

.contact{
  width:100%;
}

.contact-contant{
  width:800px;
  margin: 0 auto;
}

.contact-group{
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
  margin: 0 auto;
}

.left-contant{
  width: 400px;
}

.contact-left-contant{
  width: 130px;
  color: #000000;
  margin: 0 auto;
  text-align: center;
}

.contact-left-contant h1{
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.link-text{
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
}

.link-text:last-child{
  font-size: 16px;
  text-align: left;
  margin-bottom: 0;
}

.right-contant{
  width: 400px;
}

.contact-right-contant{
  width: 170px;
  text-align: center;
  margin: 0 auto;
}

.contact-right-contant h1{
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
}
.icon{
  display: flex;
  font-size: 50px;
  text-align: left;
}

.icon i{
  margin-right: 20px;
}

.icon i:last-child{
  margin-right: 0;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F;
}

footer p{
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}